<style>
    html, body, table {
    width: 100%;
    height: 100%;
    margin: 0;
}
table {
    border-spacing: 0;
}
td, th {
    text-align: center;
    vertical-align: center;
}
tr:nth-child(1) th:nth-child(1) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(2) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(3) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(4) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(5) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(6) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(7) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(8) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(9) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(10) {
    background: #F9F9F9;
}
tr:nth-child(1) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(1) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=57 */
tr:nth-child(1) td:nth-child(3) {
    background: hsla(235,100%,93%,0.800000);
}
/* rel_pos=13 */
tr:nth-child(1) td:nth-child(4) {
    background: hsla(0,100%,62%,0.800000);
}
/* rel_pos=34 */
tr:nth-child(1) td:nth-child(5) {
    background: hsla(0,100%,82%,0.800000);
}
/* rel_pos=25 */
tr:nth-child(1) td:nth-child(6) {
    background: hsla(0,100%,74%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(1) td:nth-child(7) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=8 */
tr:nth-child(1) td:nth-child(8) {
    background: hsla(0,100%,57%,0.800000);
}
/* rel_pos=59 */
tr:nth-child(1) td:nth-child(9) {
    background: hsla(235,100%,91%,0.800000);
}
/* rel_pos=23 */
tr:nth-child(1) td:nth-child(10) {
    background: hsla(0,100%,72%,0.800000);
}
tr:nth-child(2) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(2) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=59 */
tr:nth-child(2) td:nth-child(3) {
    background: hsla(235,100%,91%,0.800000);
}
/* rel_pos=47 */
tr:nth-child(2) td:nth-child(4) {
    background: hsla(0,100%,95%,0.800000);
}
/* rel_pos=60 */
tr:nth-child(2) td:nth-child(5) {
    background: hsla(235,100%,90%,0.800000);
}
/* rel_pos=52 */
tr:nth-child(2) td:nth-child(6) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(2) td:nth-child(7) {
    background: hsla(0,100%,86%,0.800000);
}
/* rel_pos=80 */
tr:nth-child(2) td:nth-child(8) {
    background: hsla(235,100%,72%,0.800000);
}
/* rel_pos=42 */
tr:nth-child(2) td:nth-child(9) {
    background: hsla(0,100%,90%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(2) td:nth-child(10) {
    background: hsla(0,100%,86%,0.800000);
}
tr:nth-child(3) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(3) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=31 */
tr:nth-child(3) td:nth-child(3) {
    background: hsla(0,100%,79%,0.800000);
}
/* rel_pos=49 */
tr:nth-child(3) td:nth-child(4) {
    background: hsla(0,100%,97%,0.800000);
}
/* rel_pos=19 */
tr:nth-child(3) td:nth-child(5) {
    background: hsla(0,100%,68%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(3) td:nth-child(6) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=56 */
tr:nth-child(3) td:nth-child(7) {
    background: hsla(235,100%,94%,0.800000);
}
/* rel_pos=51 */
tr:nth-child(3) td:nth-child(8) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=48 */
tr:nth-child(3) td:nth-child(9) {
    background: hsla(0,100%,96%,0.800000);
}
/* rel_pos=64 */
tr:nth-child(3) td:nth-child(10) {
    background: hsla(235,100%,87%,0.800000);
}
tr:nth-child(4) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(4) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=61 */
tr:nth-child(4) td:nth-child(3) {
    background: hsla(235,100%,89%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(4) td:nth-child(4) {
    background: hsla(0,100%,86%,0.800000);
}
/* rel_pos=61 */
tr:nth-child(4) td:nth-child(5) {
    background: hsla(235,100%,89%,0.800000);
}
/* rel_pos=69 */
tr:nth-child(4) td:nth-child(6) {
    background: hsla(235,100%,82%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(4) td:nth-child(7) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=64 */
tr:nth-child(4) td:nth-child(8) {
    background: hsla(235,100%,87%,0.800000);
}
/* rel_pos=48 */
tr:nth-child(4) td:nth-child(9) {
    background: hsla(0,100%,96%,0.800000);
}
/* rel_pos=49 */
tr:nth-child(4) td:nth-child(10) {
    background: hsla(0,100%,97%,0.800000);
}
tr:nth-child(5) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(5) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=45 */
tr:nth-child(5) td:nth-child(3) {
    background: hsla(0,100%,93%,0.800000);
}
/* rel_pos=67 */
tr:nth-child(5) td:nth-child(4) {
    background: hsla(235,100%,84%,0.800000);
}
/* rel_pos=47 */
tr:nth-child(5) td:nth-child(5) {
    background: hsla(0,100%,95%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(5) td:nth-child(6) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=94 */
tr:nth-child(5) td:nth-child(7) {
    background: hsla(235,100%,59%,0.800000);
}
/* rel_pos=56 */
tr:nth-child(5) td:nth-child(8) {
    background: hsla(235,100%,94%,0.800000);
}
/* rel_pos=29 */
tr:nth-child(5) td:nth-child(9) {
    background: hsla(0,100%,77%,0.800000);
}
/* rel_pos=39 */
tr:nth-child(5) td:nth-child(10) {
    background: hsla(0,100%,87%,0.800000);
}
tr:nth-child(6) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(6) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=68 */
tr:nth-child(6) td:nth-child(3) {
    background: hsla(235,100%,83%,0.800000);
}
/* rel_pos=77 */
tr:nth-child(6) td:nth-child(4) {
    background: hsla(235,100%,75%,0.800000);
}
/* rel_pos=6 */
tr:nth-child(6) td:nth-child(5) {
    background: hsla(0,100%,55%,0.800000);
}
/* rel_pos=36 */
tr:nth-child(6) td:nth-child(6) {
    background: hsla(0,100%,84%,0.800000);
}
/* rel_pos=62 */
tr:nth-child(6) td:nth-child(7) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=88 */
tr:nth-child(6) td:nth-child(8) {
    background: hsla(235,100%,65%,0.800000);
}
/* rel_pos=59 */
tr:nth-child(6) td:nth-child(9) {
    background: hsla(235,100%,91%,0.800000);
}
/* rel_pos=12 */
tr:nth-child(6) td:nth-child(10) {
    background: hsla(0,100%,61%,0.800000);
}
tr:nth-child(7) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(7) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=56 */
tr:nth-child(7) td:nth-child(3) {
    background: hsla(235,100%,94%,0.800000);
}
/* rel_pos=63 */
tr:nth-child(7) td:nth-child(4) {
    background: hsla(235,100%,87%,0.800000);
}
/* rel_pos=52 */
tr:nth-child(7) td:nth-child(5) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=44 */
tr:nth-child(7) td:nth-child(6) {
    background: hsla(0,100%,92%,0.800000);
}
/* rel_pos=60 */
tr:nth-child(7) td:nth-child(7) {
    background: hsla(235,100%,90%,0.800000);
}
/* rel_pos=60 */
tr:nth-child(7) td:nth-child(8) {
    background: hsla(235,100%,90%,0.800000);
}
/* rel_pos=70 */
tr:nth-child(7) td:nth-child(9) {
    background: hsla(235,100%,81%,0.800000);
}
/* rel_pos=52 */
tr:nth-child(7) td:nth-child(10) {
    background: hsla(235,100%,98%,0.800000);
}
tr:nth-child(8) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(8) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=37 */
tr:nth-child(8) td:nth-child(3) {
    background: hsla(0,100%,85%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(8) td:nth-child(4) {
    background: hsla(0,100%,86%,0.800000);
}
/* rel_pos=64 */
tr:nth-child(8) td:nth-child(5) {
    background: hsla(235,100%,87%,0.800000);
}
/* rel_pos=43 */
tr:nth-child(8) td:nth-child(6) {
    background: hsla(0,100%,91%,0.800000);
}
/* rel_pos=40 */
tr:nth-child(8) td:nth-child(7) {
    background: hsla(0,100%,88%,0.800000);
}
/* rel_pos=58 */
tr:nth-child(8) td:nth-child(8) {
    background: hsla(235,100%,92%,0.800000);
}
/* rel_pos=48 */
tr:nth-child(8) td:nth-child(9) {
    background: hsla(0,100%,96%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(8) td:nth-child(10) {
    background: hsla(0,100%,98%,0.800000);
}
tr:nth-child(9) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(9) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=46 */
tr:nth-child(9) td:nth-child(3) {
    background: hsla(0,100%,94%,0.800000);
}
/* rel_pos=58 */
tr:nth-child(9) td:nth-child(4) {
    background: hsla(235,100%,92%,0.800000);
}
/* rel_pos=41 */
tr:nth-child(9) td:nth-child(5) {
    background: hsla(0,100%,89%,0.800000);
}
/* rel_pos=40 */
tr:nth-child(9) td:nth-child(6) {
    background: hsla(0,100%,88%,0.800000);
}
/* rel_pos=43 */
tr:nth-child(9) td:nth-child(7) {
    background: hsla(0,100%,91%,0.800000);
}
/* rel_pos=28 */
tr:nth-child(9) td:nth-child(8) {
    background: hsla(0,100%,76%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(9) td:nth-child(9) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=64 */
tr:nth-child(9) td:nth-child(10) {
    background: hsla(235,100%,87%,0.800000);
}
tr:nth-child(10) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(10) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=66 */
tr:nth-child(10) td:nth-child(3) {
    background: hsla(235,100%,85%,0.800000);
}
/* rel_pos=52 */
tr:nth-child(10) td:nth-child(4) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(10) td:nth-child(5) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=62 */
tr:nth-child(10) td:nth-child(6) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(10) td:nth-child(7) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=15 */
tr:nth-child(10) td:nth-child(8) {
    background: hsla(0,100%,64%,0.800000);
}
/* rel_pos=45 */
tr:nth-child(10) td:nth-child(9) {
    background: hsla(0,100%,93%,0.800000);
}
/* rel_pos=41 */
tr:nth-child(10) td:nth-child(10) {
    background: hsla(0,100%,89%,0.800000);
}
tr:nth-child(11) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(11) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=34 */
tr:nth-child(11) td:nth-child(3) {
    background: hsla(0,100%,82%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(11) td:nth-child(4) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=49 */
tr:nth-child(11) td:nth-child(5) {
    background: hsla(0,100%,97%,0.800000);
}
/* rel_pos=43 */
tr:nth-child(11) td:nth-child(6) {
    background: hsla(0,100%,91%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(11) td:nth-child(7) {
    background: hsla(0,100%,86%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(11) td:nth-child(8) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=42 */
tr:nth-child(11) td:nth-child(9) {
    background: hsla(0,100%,90%,0.800000);
}
/* rel_pos=39 */
tr:nth-child(11) td:nth-child(10) {
    background: hsla(0,100%,87%,0.800000);
}
tr:nth-child(12) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(12) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=71 */
tr:nth-child(12) td:nth-child(3) {
    background: hsla(235,100%,80%,0.800000);
}
/* rel_pos=60 */
tr:nth-child(12) td:nth-child(4) {
    background: hsla(235,100%,90%,0.800000);
}
/* rel_pos=68 */
tr:nth-child(12) td:nth-child(5) {
    background: hsla(235,100%,83%,0.800000);
}
/* rel_pos=70 */
tr:nth-child(12) td:nth-child(6) {
    background: hsla(235,100%,81%,0.800000);
}
/* rel_pos=63 */
tr:nth-child(12) td:nth-child(7) {
    background: hsla(235,100%,87%,0.800000);
}
/* rel_pos=47 */
tr:nth-child(12) td:nth-child(8) {
    background: hsla(0,100%,95%,0.800000);
}
/* rel_pos=44 */
tr:nth-child(12) td:nth-child(9) {
    background: hsla(0,100%,92%,0.800000);
}
/* rel_pos=66 */
tr:nth-child(12) td:nth-child(10) {
    background: hsla(235,100%,85%,0.800000);
}
tr:nth-child(13) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(13) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=62 */
tr:nth-child(13) td:nth-child(3) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=43 */
tr:nth-child(13) td:nth-child(4) {
    background: hsla(0,100%,91%,0.800000);
}
/* rel_pos=34 */
tr:nth-child(13) td:nth-child(5) {
    background: hsla(0,100%,82%,0.800000);
}
/* rel_pos=43 */
tr:nth-child(13) td:nth-child(6) {
    background: hsla(0,100%,91%,0.800000);
}
/* rel_pos=34 */
tr:nth-child(13) td:nth-child(7) {
    background: hsla(0,100%,82%,0.800000);
}
/* rel_pos=74 */
tr:nth-child(13) td:nth-child(8) {
    background: hsla(235,100%,77%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(13) td:nth-child(9) {
    background: hsla(0,100%,86%,0.800000);
}
/* rel_pos=43 */
tr:nth-child(13) td:nth-child(10) {
    background: hsla(0,100%,91%,0.800000);
}
tr:nth-child(14) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(14) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=82 */
tr:nth-child(14) td:nth-child(3) {
    background: hsla(235,100%,70%,0.800000);
}
/* rel_pos=57 */
tr:nth-child(14) td:nth-child(4) {
    background: hsla(235,100%,93%,0.800000);
}
/* rel_pos=70 */
tr:nth-child(14) td:nth-child(5) {
    background: hsla(235,100%,81%,0.800000);
}
/* rel_pos=45 */
tr:nth-child(14) td:nth-child(6) {
    background: hsla(0,100%,93%,0.800000);
}
/* rel_pos=82 */
tr:nth-child(14) td:nth-child(7) {
    background: hsla(235,100%,70%,0.800000);
}
/* rel_pos=51 */
tr:nth-child(14) td:nth-child(8) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=61 */
tr:nth-child(14) td:nth-child(9) {
    background: hsla(235,100%,89%,0.800000);
}
/* rel_pos=45 */
tr:nth-child(14) td:nth-child(10) {
    background: hsla(0,100%,93%,0.800000);
}
tr:nth-child(15) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(15) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=100 */
tr:nth-child(15) td:nth-child(3) {
    background: hsla(235,100%,53%,0.800000);
}
/* rel_pos=79 */
tr:nth-child(15) td:nth-child(4) {
    background: hsla(235,100%,73%,0.800000);
}
/* rel_pos=75 */
tr:nth-child(15) td:nth-child(5) {
    background: hsla(235,100%,76%,0.800000);
}
/* rel_pos=88 */
tr:nth-child(15) td:nth-child(6) {
    background: hsla(235,100%,65%,0.800000);
}
/* rel_pos=52 */
tr:nth-child(15) td:nth-child(7) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=71 */
tr:nth-child(15) td:nth-child(8) {
    background: hsla(235,100%,80%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(15) td:nth-child(9) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=66 */
tr:nth-child(15) td:nth-child(10) {
    background: hsla(235,100%,85%,0.800000);
}
tr:nth-child(16) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(16) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=55 */
tr:nth-child(16) td:nth-child(3) {
    background: hsla(235,100%,95%,0.800000);
}
/* rel_pos=31 */
tr:nth-child(16) td:nth-child(4) {
    background: hsla(0,100%,79%,0.800000);
}
/* rel_pos=73 */
tr:nth-child(16) td:nth-child(5) {
    background: hsla(235,100%,78%,0.800000);
}
/* rel_pos=60 */
tr:nth-child(16) td:nth-child(6) {
    background: hsla(235,100%,90%,0.800000);
}
/* rel_pos=67 */
tr:nth-child(16) td:nth-child(7) {
    background: hsla(235,100%,84%,0.800000);
}
/* rel_pos=31 */
tr:nth-child(16) td:nth-child(8) {
    background: hsla(0,100%,79%,0.800000);
}
/* rel_pos=75 */
tr:nth-child(16) td:nth-child(9) {
    background: hsla(235,100%,76%,0.800000);
}
/* rel_pos=74 */
tr:nth-child(16) td:nth-child(10) {
    background: hsla(235,100%,77%,0.800000);
}
tr:nth-child(17) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(17) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=49 */
tr:nth-child(17) td:nth-child(3) {
    background: hsla(0,100%,97%,0.800000);
}
/* rel_pos=33 */
tr:nth-child(17) td:nth-child(4) {
    background: hsla(0,100%,81%,0.800000);
}
/* rel_pos=57 */
tr:nth-child(17) td:nth-child(5) {
    background: hsla(235,100%,93%,0.800000);
}
/* rel_pos=72 */
tr:nth-child(17) td:nth-child(6) {
    background: hsla(235,100%,79%,0.800000);
}
/* rel_pos=10 */
tr:nth-child(17) td:nth-child(7) {
    background: hsla(0,100%,59%,0.800000);
}
/* rel_pos=55 */
tr:nth-child(17) td:nth-child(8) {
    background: hsla(235,100%,95%,0.800000);
}
/* rel_pos=26 */
tr:nth-child(17) td:nth-child(9) {
    background: hsla(0,100%,74%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(17) td:nth-child(10) {
    background: hsla(0,100%,86%,0.800000);
}
tr:nth-child(18) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(18) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=52 */
tr:nth-child(18) td:nth-child(3) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=54 */
tr:nth-child(18) td:nth-child(4) {
    background: hsla(235,100%,96%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(18) td:nth-child(5) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(18) td:nth-child(6) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=26 */
tr:nth-child(18) td:nth-child(7) {
    background: hsla(0,100%,74%,0.800000);
}
/* rel_pos=40 */
tr:nth-child(18) td:nth-child(8) {
    background: hsla(0,100%,88%,0.800000);
}
/* rel_pos=23 */
tr:nth-child(18) td:nth-child(9) {
    background: hsla(0,100%,72%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(18) td:nth-child(10) {
    background: hsla(0,100%,86%,0.800000);
}
tr:nth-child(19) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(19) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=52 */
tr:nth-child(19) td:nth-child(3) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=61 */
tr:nth-child(19) td:nth-child(4) {
    background: hsla(235,100%,89%,0.800000);
}
/* rel_pos=27 */
tr:nth-child(19) td:nth-child(5) {
    background: hsla(0,100%,75%,0.800000);
}
/* rel_pos=84 */
tr:nth-child(19) td:nth-child(6) {
    background: hsla(235,100%,68%,0.800000);
}
/* rel_pos=52 */
tr:nth-child(19) td:nth-child(7) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=69 */
tr:nth-child(19) td:nth-child(8) {
    background: hsla(235,100%,82%,0.800000);
}
/* rel_pos=51 */
tr:nth-child(19) td:nth-child(9) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=17 */
tr:nth-child(19) td:nth-child(10) {
    background: hsla(0,100%,66%,0.800000);
}
tr:nth-child(20) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(20) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=58 */
tr:nth-child(20) td:nth-child(3) {
    background: hsla(235,100%,92%,0.800000);
}
/* rel_pos=90 */
tr:nth-child(20) td:nth-child(4) {
    background: hsla(235,100%,63%,0.800000);
}
/* rel_pos=62 */
tr:nth-child(20) td:nth-child(5) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=57 */
tr:nth-child(20) td:nth-child(6) {
    background: hsla(235,100%,93%,0.800000);
}
/* rel_pos=62 */
tr:nth-child(20) td:nth-child(7) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=92 */
tr:nth-child(20) td:nth-child(8) {
    background: hsla(235,100%,61%,0.800000);
}
/* rel_pos=95 */
tr:nth-child(20) td:nth-child(9) {
    background: hsla(235,100%,58%,0.800000);
}
/* rel_pos=84 */
tr:nth-child(20) td:nth-child(10) {
    background: hsla(235,100%,68%,0.800000);
}
tr:nth-child(21) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(21) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=71 */
tr:nth-child(21) td:nth-child(3) {
    background: hsla(235,100%,80%,0.800000);
}
/* rel_pos=61 */
tr:nth-child(21) td:nth-child(4) {
    background: hsla(235,100%,89%,0.800000);
}
/* rel_pos=63 */
tr:nth-child(21) td:nth-child(5) {
    background: hsla(235,100%,87%,0.800000);
}
/* rel_pos=59 */
tr:nth-child(21) td:nth-child(6) {
    background: hsla(235,100%,91%,0.800000);
}
/* rel_pos=19 */
tr:nth-child(21) td:nth-child(7) {
    background: hsla(0,100%,68%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(21) td:nth-child(8) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=49 */
tr:nth-child(21) td:nth-child(9) {
    background: hsla(0,100%,97%,0.800000);
}
/* rel_pos=35 */
tr:nth-child(21) td:nth-child(10) {
    background: hsla(0,100%,83%,0.800000);
}
tr:nth-child(22) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(22) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=73 */
tr:nth-child(22) td:nth-child(3) {
    background: hsla(235,100%,78%,0.800000);
}
/* rel_pos=66 */
tr:nth-child(22) td:nth-child(4) {
    background: hsla(235,100%,85%,0.800000);
}
/* rel_pos=83 */
tr:nth-child(22) td:nth-child(5) {
    background: hsla(235,100%,69%,0.800000);
}
/* rel_pos=78 */
tr:nth-child(22) td:nth-child(6) {
    background: hsla(235,100%,74%,0.800000);
}
/* rel_pos=97 */
tr:nth-child(22) td:nth-child(7) {
    background: hsla(235,100%,56%,0.800000);
}
/* rel_pos=58 */
tr:nth-child(22) td:nth-child(8) {
    background: hsla(235,100%,92%,0.800000);
}
/* rel_pos=75 */
tr:nth-child(22) td:nth-child(9) {
    background: hsla(235,100%,76%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(22) td:nth-child(10) {
    background: hsla(235,100%,97%,0.800000);
}
tr:nth-child(23) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(23) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=62 */
tr:nth-child(23) td:nth-child(3) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(23) td:nth-child(4) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=45 */
tr:nth-child(23) td:nth-child(5) {
    background: hsla(0,100%,93%,0.800000);
}
/* rel_pos=60 */
tr:nth-child(23) td:nth-child(6) {
    background: hsla(235,100%,90%,0.800000);
}
/* rel_pos=44 */
tr:nth-child(23) td:nth-child(7) {
    background: hsla(0,100%,92%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(23) td:nth-child(8) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(23) td:nth-child(9) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=63 */
tr:nth-child(23) td:nth-child(10) {
    background: hsla(235,100%,87%,0.800000);
}
tr:nth-child(24) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(24) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=60 */
tr:nth-child(24) td:nth-child(3) {
    background: hsla(235,100%,90%,0.800000);
}
/* rel_pos=63 */
tr:nth-child(24) td:nth-child(4) {
    background: hsla(235,100%,87%,0.800000);
}
/* rel_pos=55 */
tr:nth-child(24) td:nth-child(5) {
    background: hsla(235,100%,95%,0.800000);
}
/* rel_pos=19 */
tr:nth-child(24) td:nth-child(6) {
    background: hsla(0,100%,68%,0.800000);
}
/* rel_pos=62 */
tr:nth-child(24) td:nth-child(7) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=36 */
tr:nth-child(24) td:nth-child(8) {
    background: hsla(0,100%,84%,0.800000);
}
/* rel_pos=52 */
tr:nth-child(24) td:nth-child(9) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=41 */
tr:nth-child(24) td:nth-child(10) {
    background: hsla(0,100%,89%,0.800000);
}
tr:nth-child(25) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(25) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=71 */
tr:nth-child(25) td:nth-child(3) {
    background: hsla(235,100%,80%,0.800000);
}
/* rel_pos=60 */
tr:nth-child(25) td:nth-child(4) {
    background: hsla(235,100%,90%,0.800000);
}
/* rel_pos=51 */
tr:nth-child(25) td:nth-child(5) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=27 */
tr:nth-child(25) td:nth-child(6) {
    background: hsla(0,100%,75%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(25) td:nth-child(7) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=63 */
tr:nth-child(25) td:nth-child(8) {
    background: hsla(235,100%,87%,0.800000);
}
/* rel_pos=45 */
tr:nth-child(25) td:nth-child(9) {
    background: hsla(0,100%,93%,0.800000);
}
/* rel_pos=57 */
tr:nth-child(25) td:nth-child(10) {
    background: hsla(235,100%,93%,0.800000);
}
tr:nth-child(26) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(26) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=0 */
tr:nth-child(26) td:nth-child(3) {
    background: hsla(0,100%,50%,0.800000);
}
/* rel_pos=26 */
tr:nth-child(26) td:nth-child(4) {
    background: hsla(0,100%,74%,0.800000);
}
/* rel_pos=63 */
tr:nth-child(26) td:nth-child(5) {
    background: hsla(235,100%,87%,0.800000);
}
/* rel_pos=55 */
tr:nth-child(26) td:nth-child(6) {
    background: hsla(235,100%,95%,0.800000);
}
/* rel_pos=37 */
tr:nth-child(26) td:nth-child(7) {
    background: hsla(0,100%,85%,0.800000);
}
/* rel_pos=41 */
tr:nth-child(26) td:nth-child(8) {
    background: hsla(0,100%,89%,0.800000);
}
/* rel_pos=18 */
tr:nth-child(26) td:nth-child(9) {
    background: hsla(0,100%,67%,0.800000);
}
/* rel_pos=67 */
tr:nth-child(26) td:nth-child(10) {
    background: hsla(235,100%,84%,0.800000);
}
tr:nth-child(27) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(27) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=100 */
tr:nth-child(27) td:nth-child(3) {
    background: hsla(235,100%,53%,0.800000);
}
/* rel_pos=83 */
tr:nth-child(27) td:nth-child(4) {
    background: hsla(235,100%,69%,0.800000);
}
/* rel_pos=75 */
tr:nth-child(27) td:nth-child(5) {
    background: hsla(235,100%,76%,0.800000);
}
/* rel_pos=93 */
tr:nth-child(27) td:nth-child(6) {
    background: hsla(235,100%,60%,0.800000);
}
/* rel_pos=41 */
tr:nth-child(27) td:nth-child(7) {
    background: hsla(0,100%,89%,0.800000);
}
/* rel_pos=40 */
tr:nth-child(27) td:nth-child(8) {
    background: hsla(0,100%,88%,0.800000);
}
/* rel_pos=53 */
tr:nth-child(27) td:nth-child(9) {
    background: hsla(235,100%,97%,0.800000);
}
/* rel_pos=77 */
tr:nth-child(27) td:nth-child(10) {
    background: hsla(235,100%,75%,0.800000);
}
tr:nth-child(28) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(28) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=52 */
tr:nth-child(28) td:nth-child(3) {
    background: hsla(235,100%,98%,0.800000);
}
/* rel_pos=30 */
tr:nth-child(28) td:nth-child(4) {
    background: hsla(0,100%,78%,0.800000);
}
/* rel_pos=57 */
tr:nth-child(28) td:nth-child(5) {
    background: hsla(235,100%,93%,0.800000);
}
/* rel_pos=43 */
tr:nth-child(28) td:nth-child(6) {
    background: hsla(0,100%,91%,0.800000);
}
/* rel_pos=45 */
tr:nth-child(28) td:nth-child(7) {
    background: hsla(0,100%,93%,0.800000);
}
/* rel_pos=34 */
tr:nth-child(28) td:nth-child(8) {
    background: hsla(0,100%,82%,0.800000);
}
/* rel_pos=39 */
tr:nth-child(28) td:nth-child(9) {
    background: hsla(0,100%,87%,0.800000);
}
/* rel_pos=39 */
tr:nth-child(28) td:nth-child(10) {
    background: hsla(0,100%,87%,0.800000);
}
tr:nth-child(29) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(29) td:nth-child(2) {
    background: #FFFFFF;
}
tr:nth-child(29) td:nth-child(3) {
    background: #FFFFFF;
}
tr:nth-child(29) td:nth-child(4) {
    background: #FFFFFF;
}
/* rel_pos=41 */
tr:nth-child(29) td:nth-child(5) {
    background: hsla(0,100%,89%,0.800000);
}
/* rel_pos=66 */
tr:nth-child(29) td:nth-child(6) {
    background: hsla(235,100%,85%,0.800000);
}
/* rel_pos=62 */
tr:nth-child(29) td:nth-child(7) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=50 */
tr:nth-child(29) td:nth-child(8) {
    background: hsla(0,100%,98%,0.800000);
}
/* rel_pos=40 */
tr:nth-child(29) td:nth-child(9) {
    background: hsla(0,100%,88%,0.800000);
}
/* rel_pos=52 */
tr:nth-child(29) td:nth-child(10) {
    background: hsla(235,100%,98%,0.800000);
}
tr:nth-child(30) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(30) td:nth-child(2) {
    background: #FFFFFF;
}
tr:nth-child(30) td:nth-child(3) {
    background: #FFFFFF;
}
tr:nth-child(30) td:nth-child(4) {
    background: #FFFFFF;
}
tr:nth-child(30) td:nth-child(5) {
    background: #FFFFFF;
}
tr:nth-child(30) td:nth-child(6) {
    background: #FFFFFF;
}
tr:nth-child(30) td:nth-child(7) {
    background: #FFFFFF;
}
/* rel_pos=45 */
tr:nth-child(30) td:nth-child(8) {
    background: hsla(0,100%,93%,0.800000);
}
/* rel_pos=54 */
tr:nth-child(30) td:nth-child(9) {
    background: hsla(235,100%,96%,0.800000);
}
/* rel_pos=55 */
tr:nth-child(30) td:nth-child(10) {
    background: hsla(235,100%,95%,0.800000);
}
tr:nth-child(31) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(31) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=66 */
tr:nth-child(31) td:nth-child(3) {
    background: hsla(235,100%,85%,0.800000);
}
/* rel_pos=61 */
tr:nth-child(31) td:nth-child(4) {
    background: hsla(235,100%,89%,0.800000);
}
/* rel_pos=60 */
tr:nth-child(31) td:nth-child(5) {
    background: hsla(235,100%,90%,0.800000);
}
tr:nth-child(31) td:nth-child(6) {
    background: #FFFFFF;
}
tr:nth-child(31) td:nth-child(7) {
    background: #FFFFFF;
}
tr:nth-child(31) td:nth-child(8) {
    background: #FFFFFF;
}
tr:nth-child(31) td:nth-child(9) {
    background: #FFFFFF;
}
tr:nth-child(31) td:nth-child(10) {
    background: #FFFFFF;
}
tr:nth-child(32) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(32) td:nth-child(2) {
    background: #FFFFFF;
}
tr:nth-child(32) td:nth-child(3) {
    background: #FFFFFF;
}
tr:nth-child(32) td:nth-child(4) {
    background: #FFFFFF;
}
tr:nth-child(32) td:nth-child(5) {
    background: #FFFFFF;
}
/* rel_pos=55 */
tr:nth-child(32) td:nth-child(6) {
    background: hsla(235,100%,95%,0.800000);
}
/* rel_pos=62 */
tr:nth-child(32) td:nth-child(7) {
    background: hsla(235,100%,88%,0.800000);
}
/* rel_pos=0 */
tr:nth-child(32) td:nth-child(8) {
    background: hsla(0,100%,50%,0.800000);
}
tr:nth-child(32) td:nth-child(9) {
    background: #FFFFFF;
}
tr:nth-child(32) td:nth-child(10) {
    background: #FFFFFF;
}
tr:nth-child(33) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(33) td:nth-child(2) {
    background: #FFFFFF;
}
tr:nth-child(33) td:nth-child(3) {
    background: #FFFFFF;
}
tr:nth-child(33) td:nth-child(4) {
    background: #FFFFFF;
}
tr:nth-child(33) td:nth-child(5) {
    background: #FFFFFF;
}
tr:nth-child(33) td:nth-child(6) {
    background: #FFFFFF;
}
tr:nth-child(33) td:nth-child(7) {
    background: #FFFFFF;
}
tr:nth-child(33) td:nth-child(8) {
    background: #FFFFFF;
}
/* rel_pos=45 */
tr:nth-child(33) td:nth-child(9) {
    background: hsla(0,100%,93%,0.800000);
}
/* rel_pos=38 */
tr:nth-child(33) td:nth-child(10) {
    background: hsla(0,100%,86%,0.800000);
}
tr:nth-child(34) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(34) td:nth-child(2) {
    background: #FFFFFF;
}
/* rel_pos=49 */
tr:nth-child(34) td:nth-child(3) {
    background: hsla(0,100%,97%,0.800000);
}
/* rel_pos=72 */
tr:nth-child(34) td:nth-child(4) {
    background: hsla(235,100%,79%,0.800000);
}
tr:nth-child(34) td:nth-child(5) {
    background: #FFFFFF;
}
tr:nth-child(34) td:nth-child(6) {
    background: #FFFFFF;
}
tr:nth-child(34) td:nth-child(7) {
    background: #FFFFFF;
}
tr:nth-child(34) td:nth-child(8) {
    background: #FFFFFF;
}
tr:nth-child(34) td:nth-child(9) {
    background: #FFFFFF;
}
tr:nth-child(34) td:nth-child(10) {
    background: #FFFFFF;
}
</style>
