<style>
    html, body, table {
    width: 100%;
    height: 100%;
    margin: 0;
}
table {
    border-spacing: 0;
}
td, th {
    text-align: center;
    vertical-align: center;
}
[1, 1, 1, 2, 2, 2, 2, 3, 4, 4, 4, 6, 6, 6, 7, 8, 9, 9, 9, 11, 11, 12, 18, 18, 18, 20, 23, 23, 25, 27, 33, 33, 35, 36, 40, 40, 44, 50, 52, 54, 54, 58, 66, 69, 71, 72, 75, 76, 85, 86, 94, 97, 98, 99, 101, 104, 104, 107, 151, 166, 166, 167, 167, 171, 176, 181]tr:nth-child(1) th:nth-child(1) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(2) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(3) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(4) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(5) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(6) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(7) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(8) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(9) {
    background: #F9F9F9;
}
tr:nth-child(1) th:nth-child(10) {
    background: #F9F9F9;
}
tr:nth-child(1) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(1) td:nth-child(2) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=83 */
tr:nth-child(1) td:nth-child(3) {
    background: hsla(235,100%,69%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=83 */
tr:nth-child(1) td:nth-child(4) {
    background: hsla(235,100%,69%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=83 */
tr:nth-child(1) td:nth-child(5) {
    background: hsla(235,100%,69%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=75 */
tr:nth-child(1) td:nth-child(6) {
    background: hsla(235,100%,76%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=83 */
tr:nth-child(1) td:nth-child(7) {
    background: hsla(235,100%,69%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=88 */
tr:nth-child(1) td:nth-child(8) {
    background: hsla(235,100%,65%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=90 */
tr:nth-child(1) td:nth-child(9) {
    background: hsla(235,100%,63%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=85 */
tr:nth-child(1) td:nth-child(10) {
    background: hsla(235,100%,67%,0.800000);
}
tr:nth-child(2) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(2) td:nth-child(2) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=47 */
tr:nth-child(2) td:nth-child(3) {
    background: hsla(0,100%,95%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=49 */
tr:nth-child(2) td:nth-child(4) {
    background: hsla(0,100%,97%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=52 */
tr:nth-child(2) td:nth-child(5) {
    background: hsla(235,100%,98%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=51 */
tr:nth-child(2) td:nth-child(6) {
    background: hsla(235,100%,98%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=50 */
tr:nth-child(2) td:nth-child(7) {
    background: hsla(0,100%,98%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=54 */
tr:nth-child(2) td:nth-child(8) {
    background: hsla(235,100%,96%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=49 */
tr:nth-child(2) td:nth-child(9) {
    background: hsla(0,100%,97%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=52 */
tr:nth-child(2) td:nth-child(10) {
    background: hsla(235,100%,98%,0.800000);
}
tr:nth-child(3) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(3) td:nth-child(2) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=35 */
tr:nth-child(3) td:nth-child(3) {
    background: hsla(0,100%,83%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=33 */
tr:nth-child(3) td:nth-child(4) {
    background: hsla(0,100%,81%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=36 */
tr:nth-child(3) td:nth-child(5) {
    background: hsla(0,100%,84%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=36 */
tr:nth-child(3) td:nth-child(6) {
    background: hsla(0,100%,84%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=38 */
tr:nth-child(3) td:nth-child(7) {
    background: hsla(0,100%,86%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=43 */
tr:nth-child(3) td:nth-child(8) {
    background: hsla(0,100%,91%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=43 */
tr:nth-child(3) td:nth-child(9) {
    background: hsla(0,100%,91%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=38 */
tr:nth-child(3) td:nth-child(10) {
    background: hsla(0,100%,86%,0.800000);
}
tr:nth-child(4) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(4) td:nth-child(2) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=22 */
tr:nth-child(4) td:nth-child(3) {
    background: hsla(0,100%,71%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=29 */
tr:nth-child(4) td:nth-child(4) {
    background: hsla(0,100%,77%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=27 */
tr:nth-child(4) td:nth-child(5) {
    background: hsla(0,100%,75%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=25 */
tr:nth-child(4) td:nth-child(6) {
    background: hsla(0,100%,74%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=20 */
tr:nth-child(4) td:nth-child(7) {
    background: hsla(0,100%,69%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=26 */
tr:nth-child(4) td:nth-child(8) {
    background: hsla(0,100%,74%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=20 */
tr:nth-child(4) td:nth-child(9) {
    background: hsla(0,100%,69%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=27 */
tr:nth-child(4) td:nth-child(10) {
    background: hsla(0,100%,75%,0.800000);
}
tr:nth-child(5) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(5) td:nth-child(2) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=18 */
tr:nth-child(5) td:nth-child(3) {
    background: hsla(0,100%,67%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=12 */
tr:nth-child(5) td:nth-child(4) {
    background: hsla(0,100%,61%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=12 */
tr:nth-child(5) td:nth-child(5) {
    background: hsla(0,100%,61%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=17 */
tr:nth-child(5) td:nth-child(6) {
    background: hsla(0,100%,66%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=18 */
tr:nth-child(5) td:nth-child(7) {
    background: hsla(0,100%,67%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=13 */
tr:nth-child(5) td:nth-child(8) {
    background: hsla(0,100%,62%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=17 */
tr:nth-child(5) td:nth-child(9) {
    background: hsla(0,100%,66%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=14 */
tr:nth-child(5) td:nth-child(10) {
    background: hsla(0,100%,63%,0.800000);
}
tr:nth-child(6) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(6) td:nth-child(2) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=9 */
tr:nth-child(6) td:nth-child(3) {
    background: hsla(0,100%,58%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=10 */
tr:nth-child(6) td:nth-child(4) {
    background: hsla(0,100%,59%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=6 */
tr:nth-child(6) td:nth-child(5) {
    background: hsla(0,100%,55%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=5 */
tr:nth-child(6) td:nth-child(6) {
    background: hsla(0,100%,54%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=9 */
tr:nth-child(6) td:nth-child(7) {
    background: hsla(0,100%,58%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=6 */
tr:nth-child(6) td:nth-child(8) {
    background: hsla(0,100%,55%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=6 */
tr:nth-child(6) td:nth-child(9) {
    background: hsla(0,100%,55%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=9 */
tr:nth-child(6) td:nth-child(10) {
    background: hsla(0,100%,58%,0.800000);
}
tr:nth-child(7) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(7) td:nth-child(2) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=5 */
tr:nth-child(7) td:nth-child(3) {
    background: hsla(0,100%,54%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=3 */
tr:nth-child(7) td:nth-child(4) {
    background: hsla(0,100%,52%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=4 */
tr:nth-child(7) td:nth-child(5) {
    background: hsla(0,100%,53%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=3 */
tr:nth-child(7) td:nth-child(6) {
    background: hsla(0,100%,52%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=2 */
tr:nth-child(7) td:nth-child(7) {
    background: hsla(0,100%,51%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=2 */
tr:nth-child(7) td:nth-child(8) {
    background: hsla(0,100%,51%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=5 */
tr:nth-child(7) td:nth-child(9) {
    background: hsla(0,100%,54%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=3 */
tr:nth-child(7) td:nth-child(10) {
    background: hsla(0,100%,52%,0.800000);
}
tr:nth-child(8) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(8) td:nth-child(2) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=2 */
tr:nth-child(8) td:nth-child(3) {
    background: hsla(0,100%,51%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=1 */
tr:nth-child(8) td:nth-child(4) {
    background: hsla(0,100%,50%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=1 */
tr:nth-child(8) td:nth-child(5) {
    background: hsla(0,100%,50%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=4 */
tr:nth-child(8) td:nth-child(6) {
    background: hsla(0,100%,53%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=1 */
tr:nth-child(8) td:nth-child(7) {
    background: hsla(0,100%,50%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=1 */
tr:nth-child(8) td:nth-child(8) {
    background: hsla(0,100%,50%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=1 */
tr:nth-child(8) td:nth-child(9) {
    background: hsla(0,100%,50%,0.800000);
}
/* min=0.000000, max = 201.500000, rel_pos=2 */
tr:nth-child(8) td:nth-child(10) {
    background: hsla(0,100%,51%,0.800000);
}
tr:nth-child(9) td:nth-child(1) {
    background: #FFFFFF;
}
tr:nth-child(9) td:nth-child(2) {
    background: #FFFFFF;
}
tr:nth-child(9) td:nth-child(3) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=1 */
tr:nth-child(9) td:nth-child(4) {
    background: hsla(0,100%,50%,0.800000);
}
tr:nth-child(9) td:nth-child(5) {
    background: #FFFFFF;
}
tr:nth-child(9) td:nth-child(6) {
    background: #FFFFFF;
}
tr:nth-child(9) td:nth-child(7) {
    background: #FFFFFF;
}
/* min=0.000000, max = 201.500000, rel_pos=1 */
tr:nth-child(9) td:nth-child(8) {
    background: hsla(0,100%,50%,0.800000);
}
tr:nth-child(9) td:nth-child(9) {
    background: #FFFFFF;
}
tr:nth-child(9) td:nth-child(10) {
    background: #FFFFFF;
}
</style>
