<!DOCTYPE html>
<html>
<body>

<form action="../controller.py">
Rows:
<select name="row">
	<option value ="Player">Player</option>
	<option value ="Age">Age</option>
	<option value ="Season">Season</option>
	<option value ="Tm">Team</option>
	<option value ="G">Games Played</option>
	<option value ="MP">Minutes Played</option>
	<option value ="FG">FG</option>
	<option value ="FGA">FG Attempted</option>
	<option value ="2P">2P</option>
	<option value="2PA">2PA</option>
	<option value ="3P">3P</option>
	<option value="3PA">3PA</option>
</select>
<br>
Columns:
<select name="col">
	<option value ="Player">Player</option>
	<option value ="Age">Age</option>
	<option value ="Season">Season</option>
	<option value ="Tm">Team</option>
	<option value ="G">Games Played</option>
	<option value ="MP">Minutes Played</option>
	<option value ="FG">FG</option>
	<option value ="FGA">FG Attempted</option>
	<option value ="2P">2P</option>
	<option value="2PA">2PA</option>
	<option value ="3P">3P</option>
	<option value="3PA">3PA</option>
</select>
<br><br>
<input type="submit" value="Submit">
</form> 

</body>
</html>
